*{
    margin: 0;
    padding: 0;
}

body{
    margin: 50px 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor{
    height:40em;
    width: 400px;
    background-color:rgb(23, 23, 52) ;
    border-radius: 1em;
}

img{
    width: 400px;
    border-radius: 1em 1em 0 0;
}

span{
    border: 1px solid rgb(179, 52, 52);
    padding: 5px;
    font-size: 10px;
    border-radius: 10px;
}

h1{
    margin: 10px 20px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px 30px 10px 30px;
    font-size: 14px;
}

h4{
    font-size: 12px;
    margin: 30px 0 10px 0;
}

.comprar{
    background-color:rgb(179, 52, 52) ;
    padding: 5px;
    margin: 20px;
    border-radius: 2em;
    width: 100px;
    font-size: 18px;
    position: relative;
    left: 32%;
    
}



